.form-header {
  background-color: var(--maroon);
  color: var(--white);
}

.btn-submit {
  background-color: var(--maroon);
  color: var(--white);
}

.btn-submit:hover {
  background-color: var(--orange);
}

.btn-submit:focus {
  outline: none;
  box-shadow: none;
}